@font-face {
    font-family: 'Grape Days';
    src: url('GrapeDays.woff2') format('woff2'),
        url('GrapeDays.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

